* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #10141e !important;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #10141e;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 5px;
  background: #fff;
}
::-webkit-scrollbar-thumb:vertical {
  border-radius: 5px;
  background: #fff;
}

.main-content h3 {
  color: #fff;
  font-size: 24px;
}

.container {
  display: flex;
  padding: 20px 50px;
  gap: 50px;
}

main {
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }
}
